Sxiv.foreground: #bbbbbb
Sxiv.background: #1a1a1a
background:  #1a1a1a
*foreground:  #bfbfbf
*color0:  #0c1a00
*color1:  #990057
*color2:  #5cac00
*color3:  #997b00
*color4:  #3d00aa
*color5:  #9900a8
*color6:  #00aca0
*color7:  #8b8d88
*color8:  #526e50
*color9:  #aa3f65
*color10:  #6cbd3f
*color11:  #aa973d
*color12:  #4c3fbb
*color13:  #853fbb
*color14:  #2cbd93
*color15:  #ffffff

